@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:root {
  --primary-color: #6C63FF;
  --secondary-color: #a21caf;
}

.primary_btn {
  padding: 0.8rem 0;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  margin-top: 1rem;
}